body {

    font-family: Arial, sans-serif;
    background: #222;
    color: white;
    text-align: center;

}



#chat {

    width: 80%;
    height: 400px;

    margin: 20px auto;

    background: #111;

    border-radius: 10px;

    padding: 15px;

    overflow-y: auto;

    text-align: left;

}



input {

    padding: 10px;

    border-radius: 5px;

    border: none;

    margin: 5px;

}



button {

    padding: 10px 15px;

    border-radius: 5px;

    border: none;

    cursor: pointer;

}



/* Сообщения */

.message {

    max-width: 60%;

    padding: 10px 15px;

    margin: 10px;

    border-radius: 15px;

    color: white;

}



.name {

    font-size: 13px;

    opacity: 0.7;

    margin-bottom: 5px;

}



.text {

    font-size: 16px;

}



/* Чужие */

.other {

    background: #333;

    margin-right: auto;

}



/* Мои */

.mine {

    background: #2563eb;

    margin-left: auto;

}



/* Emoji */

#emojiPanel {

    display: none;

    background: #333;

    width: 320px;

    height: 160px;

    overflow-y: auto;

    margin: 10px auto;

    padding: 10px;

    border-radius: 10px;

}



#emojiPanel span {

    font-size: 25px;

    cursor: pointer;

    display: inline-block;

    padding: 5px;

}



#emojiPanel span:hover {

    background: #555;

    border-radius: 5px;

}
